<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<display-name>Login</display-name>
  	<description></description>
  	<servlet-class>servlets.Login</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Client</servlet-name>
  	<display-name>Client</display-name>
  	<description></description>
  	<servlet-class>servlets.Client</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Logout</servlet-name>
  	<display-name>Logout</display-name>
  	<description></description>
  	<servlet-class>servlets.Logout</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>Register</display-name>
  	<servlet-name>Register</servlet-name>
  	<servlet-class>servlets.Register</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>Profile</display-name>
  	<servlet-name>Profile</servlet-name>
  	<servlet-class>servlets.Profile</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>EditProfile</display-name>
  	<servlet-name>EditProfile</servlet-name>
  	<servlet-class>servlets.EditProfile</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ChangePhoto</display-name>
  	<servlet-name>ChangePhoto</servlet-name>
  	<servlet-class>servlets.ChangePhoto</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>SavedAccounts</display-name>
  	<servlet-name>SavedAccounts</servlet-name>
  	<servlet-class>servlets.SavedAccounts</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>RemoveAccount</display-name>
  	<servlet-name>RemoveAccount</servlet-name>
  	<servlet-class>servlets.RemoveAccount</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>MakeWithdrawal</display-name>
  	<servlet-name>MakeWithdrawal</servlet-name>
  	<servlet-class>servlets.MakeWithdrawal</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>MakeTopUpBalance</display-name>
  	<servlet-name>MakeTopUpBalance</servlet-name>
  	<servlet-class>servlets.MakeTopUpBalance</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>MakeTransfer</display-name>
  	<servlet-name>MakeTransfer</servlet-name>
  	<servlet-class>servlets.MakeTransfer</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>CheckWithdrawals</display-name>
  	<servlet-name>CheckWithdrawals</servlet-name>
  	<servlet-class>servlets.CheckWithdrawals</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>CheckTransfers</display-name>
  	<servlet-name>CheckTransfers</servlet-name>
  	<servlet-class>servlets.CheckTransfers</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>CheckPayments</display-name>
  	<servlet-name>CheckPayments</servlet-name>
  	<servlet-class>servlets.CheckPayments</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>CheckTopUpBalances</display-name>
  	<servlet-name>CheckTopUpBalances</servlet-name>
  	<servlet-class>servlets.CheckTopUpBalances</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>CheckMovements</display-name>
  	<servlet-name>CheckMovements</servlet-name>
  	<servlet-class>servlets.CheckMovements</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>RemoveProfilePhoto</display-name>
  	<servlet-name>RemoveProfilePhoto</servlet-name>
  	<servlet-class>servlets.RemoveProfilePhoto</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Client</servlet-name>
  	<url-pattern>/Client</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Logout</servlet-name>
  	<url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Register</servlet-name>
  	<url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Profile</servlet-name>
  	<url-pattern>/Profile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditProfile</servlet-name>
  	<url-pattern>/EditProfile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ChangePhoto</servlet-name>
  	<url-pattern>/ChangePhoto</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SavedAccounts</servlet-name>
  	<url-pattern>/SavedAccounts</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RemoveAccount</servlet-name>
  	<url-pattern>/RemoveAccount</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MakeWithdrawal</servlet-name>
  	<url-pattern>/MakeWithdrawal</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MakeTopUpBalance</servlet-name>
  	<url-pattern>/MakeTopUpBalance</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MakeTransfer</servlet-name>
  	<url-pattern>/MakeTransfer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CheckWithdrawals</servlet-name>
  	<url-pattern>/CheckWithdrawals</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CheckTransfers</servlet-name>
  	<url-pattern>/CheckTransfers</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CheckPayments</servlet-name>
  	<url-pattern>/CheckPayments</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CheckTopUpBalances</servlet-name>
  	<url-pattern>/CheckTopUpBalances</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CheckMovements</servlet-name>
  	<url-pattern>/CheckMovements</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RemoveProfilePhoto</servlet-name>
  	<url-pattern>/RemoveProfilePhoto</url-pattern>
  </servlet-mapping>
</web-app>
